body {
    margin: 0;
    font-family: Arial;
    background: #fff5f8;
}

/* HEADER */
header {
    background: #ff9ec7;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: white;
}

nav a {
    margin: 10px;
    color: white;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 400px;
    background: url('../images/hero.png') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}

/* CONTAINER */
.container {
    padding: 40px;
}

/* CARDS */
.card-container {
    display: flex;
    gap: 20px;
}

.card {
    background: white;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
}

.card-content {
    padding: 15px;
}

/* BUTTON */
button {
    background: #ff69b4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* FOOTER */
footer {
    background: #ff9ec7;
    text-align: center;
    padding: 20px;
    color: white;
}
